.mm{
    color: white;
    background-color: aqua;
}
.ma{
    background-color: rgb(245, 175, 233);
}
.in{
    background-color: rgb(238, 149, 238);
}
.b{
    background-color: rgb(223, 40, 40);
}